#work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 0px;
  background: var(--darkGray);
}

.work-container {
  display: flex;
  justify-content: center;

  width: 50%;
  padding: 15px 300px;
  color: var(--lightGray);
}

.work-text {
  color: var(--lightGray);
}

.work-p1 {
  font-weight: bold;
  font-size: 30px;
  padding-top: 20px;
  margin: 0;
}

.work-p2 {
  font-weight: bold;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

.work-p3 {
  font-size: 16px;
  padding-left: 10px;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .work-container {
    width: 70%;
  }
}

@media screen and (max-width: 960px) {
  .work-container {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .work-container {
    width: 80%;
  }
}
